node_modules/
dist/
.env
release/
release-*/
install-test-*/
dashboard-screenshots/
dist/
desktop
data/uploads/
data/test-runs/
data/database/*.db
data/database/*.db-journal
data/database/*.db-shm
data/database/*.db-wal
